<h1>Listing Staff</h1>

<%= link_to 'Add New Staff', new_staff_path %>

<%= render 'layouts/pass' %>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Full name</th>
      <th>Timezone</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @staffs.each do |staff| %>
      <tr>
        <td><%= link_to staff.id, staff %></td>
        <td>
          <%= link_to staff.full_name, staff %>
          <%
            c = staff.notes.where(:noteable_type => "Staff", :noteable_id => staff.id).where('created_at >= ?', 1.week.ago).count 
          %>
          has contacted <%= c %> patients in the last 7 days
        </td>
        <td><%= staff.user.time_zone %></td>
        <td><%= staff.email %></td>
        <td><%= link_to 'Edit', edit_staff_path(staff) %> <%= link_to 'Destroy', staff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>