<p id="notice"><%= notice %></p>

<p>
  <strong>Full name:</strong>
  <%= @staff.full_name %>
</p>

<h2>Notes by <%= @staff.full_name %></h2>

<%= render '/notes/notes', notes: @staff.notes, data_tables: true, edit: false %>

<p>
  <strong>Timezone:</strong>
  <%= @staff.user.time_zone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @staff.email %>
</p>

<%= link_to 'Edit', edit_staff_path(@staff) %> |
<%= link_to 'Back', staffs_path %>
