<div class="container staff-show">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <span style="float: right; padding-top: 20px; display: inline-block;"> <%= link_to '<< Return to previous page', staffs_path %></span>
        <h1><i class="fa fa-users"></i> <%= @staff.full_name %>'s <small>Staff</small></h1>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= link_to edit_staff_path(@staff), :class => 'btn btn-primary' do %>
            <span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit Staff
          <% end %>
          <%= render 'layouts/pass' %>

          <hr>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Personal Details</h3>
        </div>
        <div class="panel-body">
          <p>
            <strong>Full name:</strong>
            <%= @staff.full_name %>
          </p>

          <p>
            <strong>Timezone:</strong>
            <%= @staff.user.time_zone %>
          </p>

          <p>
            <strong>Email:</strong>
            <%= @staff.email %>
          </p>
        </div>
      </div> 
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Notes</h3>
        </div>
        <div class="panel-body">
          <%= render '/notes/notes', notes: @staff.notes, data_tables: true, edit: false %>
        </div>
      </div> 
    </div>
  </div>

    </div>
  </div>
</div>
