<h1>Listing tier_updates</h1>


<table class="table">
  <thead>
    <tr>
      <th>Instructor</th>
      <th>Old tier</th>
      <th>New tier</th>
      <th>Notes</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tier_updates.each do |tier_update| %>
      <tr>
        <td><%= link_to tier_update.instructor.instructor, tier_update.instructor %></td>
        <td><%= tier_update.old_tier %></td>
        <td><%= tier_update.new_tier %></td>
        <td><%= tier_update.notes %></td>
        <td><%= link_to 'Show', tier_update %></td>
        <td><%= link_to 'Edit', edit_tier_update_path(tier_update) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
