<% if edit
  submit_text = 'Update Note'
else
  submit_text = 'Submit New Note'
end %>

<div class="form-container well">
  <%= form_for(@note) do |f| %>
    <% if @note.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

        <ul>
        <% @note.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :patient_id, class: 'control-label' %><br>
      <%= f.select :patient_id, options_for_select(@patients, @note.patient_id), {:include_blank => 'choose a patient'}, {:class => "select2"} %>
    </div>

    <div class="form-group">
      <%= f.label :interaction_type, class: 'control-label' %><br>
      <%= f.select :interaction_type, options_for_select(interaction_types, @note.interaction_type), {:include_blank => 'choose an option'}, {:class => "select2"} %>
    </div>

    <div class="checkbox">
      <%= f.label :training_meeting, class: 'control-label' do %>
        <%= f.check_box :training_meeting %> Is this note in regards to patient training?
      <% end %>
    </div>
    
    <div class="form-group">
      <%= f.label :note, class: 'control-label' %><br>
      <%= f.text_area :note, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :wdate, "Date in regards to the note", class: 'control-label' %><br>
      <%= f.date_select :wdate %>
    </div>
    <div class="actions">
      <%= f.submit submit_text, :class => 'btn btn-primary' %>
    </div>
  <% end %>
</div>
