<h1>Listing lesson_plans</h1>

<table>
  <thead>
    <tr>
      <th>Lp</th>
      <th>Lp link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lesson_plans.each do |lesson_plan| %>
      <tr>
        <td><%= lesson_plan.lp %></td>
        <td><%= lesson_plan.lp_link %></td>
        <td><%= link_to 'Show', lesson_plan %></td>
        <td><%= link_to 'Edit', edit_lesson_plan_path(lesson_plan) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lesson plan', new_lesson_plan_path %>
