<%= link_to 'Edit', edit_lesson_plan_path(@lesson_plan) %> |
<%= link_to 'Back', lesson_plans_path %>

<br><br>

<p id="notice"><%= notice %></p>

<h1>Listing audits for <%= link_to @lesson_plan.lp, @lesson_plan.lp_link, target: "_blank" %></h1>

<br>

<h2>Main Stats</h2>

<%= render '/audits/audits_main', audits: @lesson_plan.audits %>

<h2>Secondary Stats</h2>

<%= render '/audits/audits_secondary', audits: @lesson_plan.audits %>
