<p id="notice"><%= notice %></p>

<p>
  <strong>Class code:</strong>
  <%= @student_feedback.class_code %>
</p>

<p>
  <strong>Week:</strong>
  <%= @student_feedback.week %>
</p>

<p>
  <strong>Student name:</strong>
  <%= @student_feedback.student_name %>
</p>

<p>
  <strong>How class week:</strong>
  <%= @student_feedback.how_class_week %>
</p>

<p>
  <strong>Pace:</strong>
  <%= @student_feedback.pace %>
</p>

<p>
  <strong>Acad supp:</strong>
  <%= @student_feedback.acad_supp %>
</p>

<p>
  <strong>New learn:</strong>
  <%= @student_feedback.new_learn %>
</p>

<p>
  <strong>Mastery:</strong>
  <%= @student_feedback.mastery %>
</p>

<p>
  <strong>Inst engag:</strong>
  <%= @student_feedback.inst_engag %>
</p>

<p>
  <strong>Inst clarity:</strong>
  <%= @student_feedback.inst_clarity %>
</p>

<p>
  <strong>Inst know:</strong>
  <%= @student_feedback.inst_know %>
</p>

<p>
  <strong>Hours outside:</strong>
  <%= @student_feedback.hours_outside %>
</p>

<p>
  <strong>Spend time on:</strong>
  <%= @student_feedback.spend_time_on %>
</p>

<p>
  <strong>Pace notes:</strong>
  <%= @student_feedback.pace_notes %>
</p>

<p>
  <strong>Support notes:</strong>
  <%= @student_feedback.support_notes %>
</p>

<p>
  <strong>Inst notes:</strong>
  <%= @student_feedback.inst_notes %>
</p>

<p>
  <strong>Add notes:</strong>
  <%= @student_feedback.add_notes %>
</p>

<%= link_to 'Edit', edit_student_feedback_path(@student_feedback) %> |
<%= link_to 'Back', student_feedbacks_path %>
