<% if edit
  submit_text = 'Update Rep'
else
  submit_text = 'Submit New Rep'
end %>

<div class="form-container well">
  <%= form_for(@rep) do |f| %>
    <% if @rep.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@rep.errors.count, "error") %> prohibited this rep from being saved:</h2>

        <ul>
        <% @rep.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <h3>General Information</h3>

    <div class="form-group-container">
      <div class="row">
        <div class="col-md-12">
            <div class="form-group">
              <%= f.label :full_name, class: 'control-label' %><br>
              <%= f.text_field :full_name, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :email, class: 'control-label' %><br>
              <%= f.text_field :email, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :time_zone, class: 'control-label' %></span><br>
              <%= time_zone_select("user", "time_zone", ActiveSupport::TimeZone.us_zones, { include_blank: true, default: @timezone}, {:class => 'select2 time_zone_select'}) %>
            </div>
            
            <div class="form-group">
              <%= f.label :phone_number, class: 'control-label' %><br>
              <%= f.text_field :phone_number, class: 'form-control' %>
            </div>
          </div>
        </div>
      </div>

      <h3>Patients</h3>

      <div class="form-group-container">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <%= f.label :patient_ids, "Which patients does this Rep manage?", class: 'control-label' %><br>

              <% if @patients and @patients.empty? %>
                <p>There are no patients in the system.</p>
              <% else %>
                <%= f.select :patient_ids, @patients.collect{|t| [ "#{t.id}: #{t.first_name} #{t.middle_initial} #{t.last_name} - #{t.email}", t.id ]}, { :selected => @rep.patients.pluck(:id) }, { :multiple => true, :class => 'select2' } %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="actions">
        <%= f.submit submit_text, :class => 'btn btn-primary' %>
      </div>
  <% end %>
</div>
