<h1>Listing Field Reps</h1>

<%= link_to 'Add New Rep', new_rep_path %>

<%= render 'layouts/pass' %>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Full name</th>
      <th>Timezone</th>
      <th>Email</th>
      <th>Phone number</th>
      <th>Patients Managing</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reps.each do |rep| %>
      <tr>
        <td><%= link_to rep.id, rep %></td>
        <td>
          <%= link_to rep.full_name, rep %>
          <%
            c = rep.notes.where(:noteable_type => "Rep", :noteable_id => rep.id).where('created_at >= ?', 1.week.ago).count 
          %>
          has contacted <%= c %> patients in the last 7 days
        </td>=
        <td><%= rep.user.time_zone %></td>
        <td><%= rep.email %></td>
        <td><%= rep.phone_number %></td>
        <td>
          <ul>
            <% rep.patients.map do |p| %>
              <li><%= link_to "(#{p.id}) #{p.first_name} #{p.last_name}", p %></li>
            <% end %>
          </ul>
        </td>
        <td><%= link_to 'Edit', edit_rep_path(rep) %> <%= link_to 'Destroy', rep, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>