<ul id="nav">
  <li><%= link_to 'New Instructor', new_instructor_path %></li>
  <li><%= link_to 'Prioritized Instructor List', instructors_path %></li>
  <li><%= link_to 'All Instructors', all_instructors_path %></li>
</ul>

<h1>New instructor</h1>

<%= link_to 'Back', instructors_path %>

<%= render 'form' %>
