<%= link_to 'Edit', edit_instructor_path(@instructor) %> |
<%= link_to 'Back', instructors_path %>

<br><br>

<p id="notice"><%= notice %></p>

<% if @instructor.tier_id %>
  <p>
    <strong>Tier:</strong>
    <%= link_to @instructor.tier_id, tier_path(@instructor.tier_id) %>
  </p>
<% end %>

<p>
  <strong>University:</strong>
  <%= link_to @instructor.university.university, university_path(@instructor.university) %>
</p>

<p>
  <strong>Instructor:</strong>
  <%= @instructor.instructor %>
</p>

<p>
  <strong>Email:</strong>
  <%= @instructor.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @instructor.phone %>
</p>

<p>
  <strong>Class code:</strong>
  <%= @instructor.class_code %>
</p>

<p>
  <strong>Hired date:</strong>
  <%= @instructor.hired_date %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @instructor.start_date %>
</p>

<p>
  <strong>Dry run date:</strong>
  <%= @instructor.dry_run_date %>
</p>

<p>
  <strong>Pre quiz taken:</strong>
  <%= @instructor.pre_quiz_taken %>
</p>


<h2>Main Stats</h2>

<%= render 'audits/audits_main', audits: @instructor.audits %>

<h2>Secondary Stats</h2>

<%= render 'audits/audits_secondary', audits: @instructor.audits %>
