<h1>Listing test_strip_requests</h1>

<table>
  <thead>
    <tr>
      <th>Patient</th>
      <th>How many left</th>
      <th>Patient notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @test_strip_requests.each do |test_strip_request| %>
      <tr>
        <td><%= test_strip_request.patient %></td>
        <td><%= test_strip_request.how_many_left %></td>
        <td><%= test_strip_request.patient_notes %></td>
        <td><%= link_to 'Show', test_strip_request %></td>
        <td><%= link_to 'Edit', edit_test_strip_request_path(test_strip_request) %></td>
        <td><%= link_to 'Destroy', test_strip_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test strip request', new_test_strip_request_path %>
