<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <%= @test_strip_request.patient %>
</p>

<p>
  <strong>How many left:</strong>
  <%= @test_strip_request.how_many_left %>
</p>

<p>
  <strong>Patient notes:</strong>
  <%= @test_strip_request.patient_notes %>
</p>

<%= link_to 'Edit', edit_test_strip_request_path(@test_strip_request) %> |
<%= link_to 'Back', test_strip_requests_path %>
