<tr>
  <td>
    <% if report %>
      Your Metrics:
    <% else %>
      <%= link_to "recording", audit.video_url %>
      <%= link_to 'Show', audit %>
      <%= link_to 'Edit', edit_audit_path(audit) %>
    <% end %>
  </td>

  <% unless report %>
    <td> <%= audit.audit_date %> </td>
    <td><%= link_to audit.instructor.instructor, audit.instructor %> (<%= link_to "tier #{audit.instructor.tier.tier}", audit.instructor.tier %>)</td>
    <td><%= link_to audit.instructor.university.university, audit.instructor.university %></td>
    <td><%= link_to audit.lesson_plan.lp, audit.lesson_plan %></td>
  <% end %>

  <% if partOne %>
    <td class="<%= eqh("big_flag", audit.big_flag, false) %>"><%= audit.big_flag %></td>
    <td class="<%= eqh("objs", audit.objs, false) %>"><%= audit.objs %></td>
    <td class="<%= eqh("action_flag", audit.action_flag, false) %>"><%= audit.action_flag %></td>
    <td class="<%= alh("vocal_enc_num", audit.vocal_enc_num, false) %>"><%= audit.vocal_enc_num %></td>
    <td class="<%= alh("discuss_num", audit.discuss_num, false) %>"><%= audit.discuss_num %></td>
    <td class="<%= alh("mov_aw_noi_num", audit.mov_aw_noi_num, false) %>"><%= audit.mov_aw_noi_num %></td>
    <td class="<%= alh("mean_quest_num", audit.mean_quest_num, false) %>"><%= audit.mean_quest_num %></td>
    <td class="<%= alh("directed_quest_num", audit.directed_quest_num, false) %>"><%= audit.directed_quest_num %></td>
  <% end %>

  <% if partTwo %>
    <td class="<%= eqh("tangent_num", audit.tangent_num, false) %>"><%= audit.tangent_num %></td>
    <td class="<%= eqh("fifteen_noeng", audit.fifteen_noeng, false) %>"><%= audit.fifteen_noeng %></td>
    <td class="<%= alh("anti_jargon_num", audit.anti_jargon_num, false) %>"><%= audit.anti_jargon_num %></td>
    <td class="<%= eqh("nervous", audit.nervous, false) %>"><%= audit.nervous %></td>
    <td class="<%= alh("engage_num", audit.engage_num, false) %>"><%= audit.engage_num %></td>
    <td class="<%= lph(audit.percent_lp, false) %>"><%= audit.percent_lp %></td>
    <td class="<%= eqh("percent_hp_lp", audit.percent_hp_lp, false) %>"><%= audit.percent_hp_lp %></td>
    <td class="<%= alh("overall_num", audit.overall_num, false) %>"><%= audit.overall_num %></td>
  <% end %>

  <!-- <td>< link_to 'Destroy', audit, method: :delete, data: { confirm: 'Are you sure?' } ></td> -->
</tr>
