<br><br>
<%= link_to 'Edit', edit_audit_path(@audit) %> |
<%= link_to 'Back', audits_path %>

<p id="notice"><%= notice %></p>

<br>
<table>
  <thead>
    <tr>
      <th>
        Date of Audit
      </th>
      <th> Instructor </th>
      <th>University</th>
      <th>Lesson plan</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> <%= @audit.audit_date %> </td>
      <td><%= link_to @audit.instructor.instructor, @audit.instructor %></td>
      <td> <%= link_to @audit.instructor.university.university, @audit.instructor.university %> </td>
      <td><%= link_to @audit.lesson_plan.lp, @audit.lesson_plan %></td>
    </tr>
  </tbody>
</table>

<h2>Send email to these emails from feedback@trilogyed.com</h2>

<%= @audit.instructor.email %><%= @s.ss_email %>, <%= @r.rd_email %>

<h2>Email:</h2>
<p>Hi <%= @audit.instructor.instructor %>, <%= @s.ss %>, <%= @r.rd %></p>

<p><%= @audit.instructor.instructor %>, we analyzed your class recording and noted down your metrics and compared them to our target metrics.</p>

<p>Additionally, we provided notes on why we gave you those particular scores, and provided you information that could help you improve.</p>

<p>We will be conducting audits on your teaching in the future and our hope is for you to take this feedback and improve.</p>

<br><br><br>

<table>
  <%= render '/audits/audits_main_header', audit: @audit, report: true, partOne: true, partTwo: false %>

  <tbody>
    <%= render '/audits/audits_main_row', audit: @audit, report: true, partOne: true, partTwo: false %>
    <tr>
      <td class="target"> Target Metrics: </td>
      <td class="optimal"> <%= @big_flag %> </td>
      <td class="optimal"> <%= @objs %> </td>
      <td class="optimal"> <%= @action_flag %> </td>
      <td class="optimal"> >= <%= @vocal_enc_num %> </td>
      <td class="optimal"> >= <%= @discuss_num %> </td>
      <td class="optimal"> >= <%= @mov_aw_noi_num %> </td>
      <td class="optimal"> >= <%= @mean_quest_num %> </td>
      <td class="optimal"> >= <%= @directed_quest_num %> </td>
    </tr>
  </tbody>
</table>
<br><br>
<table>
  <%= render '/audits/audits_main_header', audit: @audit, report: true, partOne: false, partTwo: true %>

  <tbody>
    <%= render '/audits/audits_main_row', audit: @audit, report: true, partOne: false, partTwo: true %>
    <tr>
      <td class="target"> Target Metrics: </td>
      <td class="optimal"> == <%= @tangent_num %> </td>
      <td class="optimal"> <%= @fifteen_noeng %> </td>
      <td class="optimal"> >= <%= @anti_jargon_num %> </td>
      <td class="optimal"> <%= @nervous %> </td>
      <td class="optimal"> >= <%= @engage_num %> </td>
      <td class="optimal"> >= <%= @percent_lp %> </td>
      <td class="optimal"> <%= @percent_hp_lp %> </td>
      <td class="optimal"> >= <%= @overall_num %> </td>
    </tr>
  </tbody>
</table>

<br><br><br>

<table>
  <%= render '/audits/audits_secondary_header', audit: @audit, report: true %>

  <tbody>
    <%= render '/audits/audits_secondary_row', audit: @audit, report: true %>
    <tr>
      <td class="target">
        Target Metrics:
      </td>
      <td class="optimal"><%= @audio_qual_num %> </td>
      <td class="optimal"><%= @code_is_no_big %> </td>
    </tr>
  </tbody>
</table>

<hr>

<% if @audit.fame %>
  <h2>Congratulations on making the hall of fame!</h2>

  <p class="fame">
    These are the notes we wrote up about what you did that will make you famous among our instructional community:
  </p>

  <%= @audit.fame_notes %>
<% end %>

<% unless eqh("objs", @audit.objs, true) %>
  <h2>Objectives</h2>

  <p> We saw that you <span class="notOptimal padFive">did not establish objectives</span> for the students at the beginning of the lesson. This is important because the students need to know what success means for the day.</p>

  <p>All you have to do is slack them out to the students from the lesson plan and have unique students read each one, and after each student reads an objective, you make a brief comment.</p>
<% end %>

<% unless eqh("action_flag", @audit.action_flag, true) %>
  <h2>Action During Exercises</h2>

  <p>We believe <span class="notOptimal padFive">you did not walk around during exercises</span>.</p>

  <p>Walking around during exercises is very very very important. During exercises, you must look at as many screens as possible. If many students are struggling. Pause and give additional instruction. Make announcements during exercises based on what you're seeing on student screens.</p>

  <p>During exercises, ask if students are done, if they are then get them to help students that are not complete.</p>

  <hr>
<% end %>

<% unless alh("vocal_enc_num", @audit.vocal_enc_num, true) %>
  <h2>Vocal Encouragement</h2>

  d
  <hr>
<% end %>

<% unless alh("discuss_num", @audit.discuss_num, true) %>
  e
  <hr>
<% end %>

<% unless alh("mov_aw_noi_num", @audit.mov_aw_noi_num, true) %>
  df
  <hr>
<% end %>

<% unless alh("mean_quest_num", @audit.mean_quest_num, true) %>
  df
  <hr>
<% end %>

<% unless alh("directed_quest_num", @audit.directed_quest_num, true) %>
  dfff
  <hr>
<% end %>

<% unless eqh("tangent_num", @audit.tangent_num, true) %>
  adsf

  <% if @audit.tangent_notes %>
    <p>
      <strong>Tangent notes:</strong>
      <%= @audit.tangent_notes %>
    </p>
  <% end %>

  <hr>
<% end %>

<% unless eqh("fifteen_noeng", @audit.fifteen_noeng, true) %>
  grewg

  <hr>

<% end %>

<% unless alh("anti_jargon_num", @audit.anti_jargon_num, true) %>
  <p><span class="notOptimal padFive">Your <strong>clarity score</strong> of <%= @audit.anti_jargon_num %></span> was below our target of <%= @anti_jargon_num %>.</p>

  <p>There are two keys to clarity

  <ol>
    <li>TRY YOUR VERY BEST to not use terminology that the students have not heard before. And if you absolutely have to then make sure you say the plain english definition of the terminology before mentioning the word.</li>
    <li>Repeat concepts. This shouldm't be you repeating something 15 times. Instead it could be you saying something, then later asking someone a question about it. Then repeating yourself again later on, and then finally asking someone different about it.</li>
  </ol>
<% end %>

<% if @audit.anti_jargon_notes %>
  <p>
    <strong>About your Clarity:</strong>
    <%= @audit.anti_jargon_notes %>
  </p>

  <hr>
<% end %>

<% unless eqh("nervous", @audit.nervous, true) %>
  adsfewf
  <hr>
<% end %>

<% unless alh("engage_num", @audit.engage_num, true) %>
  avsraw
  <hr>
<% end %>

<% if @audit.engage_notes %>
  <p>
    <strong>Engage notes:</strong>
    <%= @audit.engage_notes %>
  </p>

  <hr>
<% end %>

<% unless lph(@audit.percent_lp, true) %>
  avsraw<%= @audit.percent_lp %>
  <hr>
<% end %>

<% unless eqh("percent_hp_lp", @audit.percent_hp_lp, true) %>
  We saw that you completed <%= @audit.percent_hp_lp %> of the high priority/critical items in the lesson plan. This is below the target of
  <hr>
<% end %>

<% unless alh("overall_num", @audit.overall_num, true) %>
  avsraw<%= @audit.overall_num %>
  <hr>
<% end %>

<% if @audit.overall_factors %>
  <p>
    <strong>Overall factors:</strong>
    <%= @audit.overall_factors %>
  </p>

  <hr>
<% end %>

<% if @audit.notes %>
  <p>
    <strong>Notes:</strong>
    <%= @audit.notes %>
  </p>
<% end %>
