<br><br>
<%= link_to 'Edit', edit_audit_path(@audit) %> |
<%= link_to 'Back', audits_path %>

<p id="notice"><%= notice %></p>

<br>

<h2>Send email to these emails from feedback@trilogyed.com</h2>

<%= @audit.instructor.email %><%= @s.ss_email %>, <%= @r.rd_email %>

<h2>Email:</h2>
<p>Hi <%= @audit.instructor.instructor %>, <%= @s.ss %>, <%= @r.rd %></p>

<p><%= @audit.instructor.instructor %>, we analyzed your class recording and noted down your metrics and compared them to our target metrics.</p>

<p>Additionally, we provided notes on why we gave you those particular scores, and provided you information that could help you improve.</p>

<br><br><br>

<table>
  <%= render '/audits/audits_main_header', audit: @audit, report: true, partOne: true, partTwo: false %>

  <tbody>
    <%= render '/audits/audits_main_row', audit: @audit, report: true, partOne: true, partTwo: false %>
    <tr>
      <td class="target"> Target Metrics: </td>
      <td class="optimal"> <%= @big_flag %> </td>
      <td class="optimal"> <%= @objs %> </td>
      <td class="optimal"> <%= @action_flag %> </td>
      <td class="optimal"> a >= <%= @vocal_enc_num %> </td>
      <td class="optimal"> b >= <%= @discuss_num %> </td>
      <td class="optimal"> c >= <%= @mov_aw_noi_num %> </td>
      <td class="optimal"> d >= <%= @mean_quest_num %> </td>
      <td class="optimal"> e >= <%= @directed_quest_num %> </td>
    </tr>
  </tbody>
</table>
<br><br>
<table>
  <%= render '/audits/audits_main_header', audit: @audit, report: true, partOne: false, partTwo: true %>

  <tbody>
    <%= render '/audits/audits_main_row', audit: @audit, report: true, partOne: false, partTwo: true %>
    <tr>
      <td class="target"> Target Metrics: </td>
      <td class="optimal"> f == <%= @tangent_num %> </td>
      <td class="optimal"> <%= @fifteen_noeng %> </td>
      <td class="optimal"> g >= <%= @anti_jargon_num %> </td>
      <td class="optimal"> <%= @nervous %> </td>
      <td class="optimal"> h >= <%= @engage_num %> </td>
      <td class="optimal"> i >= <%= @percent_lp %> </td>
      <td class="optimal"> <%= @percent_hp_lp %> </td>
      <td class="optimal"> j >= <%= @overall_num %> </td>
    </tr>
  </tbody>
</table>

<br><br><br>

<table>
  <%= render '/audits/audits_secondary_header', audit: @audit, report: true %>

  <tbody>
    <%= render '/audits/audits_secondary_row', audit: @audit, report: true %>
    <tr>
      <td class="target">
        Target Metrics:
      </td>
      <td class="optimal"><%= @audio_qual_num %> </td>
      <td class="optimal"><%= @code_is_no_big %> </td>
    </tr>
  </tbody>
</table>


<br><br><br>

<% if @audit.fame %>
  <h2>Congratulations on making the hall of fame!</h2>

  <p class="fame">
    These are the notes we wrote up about what you did that will make you famous among our instructional community:
  </p>

  <%= @audit.fame_notes %>
<% end %>

<p>
  <strong>Tangent notes:</strong>
  <%= @audit.tangent_notes %>
</p>

<p>
  <strong>Anti jargon notes:</strong>
  <%= @audit.anti_jargon_notes %>
</p>

<p>
  <strong>Engage notes:</strong>
  <%= @audit.engage_notes %>
</p>

<p>
  <strong>Overall factors:</strong>
  <%= @audit.overall_factors %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @audit.notes %>
</p>
