<br><br>
<%= link_to 'Edit', edit_audit_path(@audit) %> |
<%= link_to 'Back', audits_path %>

<p id="notice"><%= notice %></p>

<br>
<table>
  <thead>
    <tr>
      <th>
        Date of Audit
      </th>
      <th> Instructor </th>
      <th>University</th>
      <th>Lesson plan</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> <%= @audit.audit_date %> </td>
      <td><%= link_to @audit.instructor.instructor, @audit.instructor %></td>
      <td> <%= link_to @audit.instructor.university.university, @audit.instructor.university %> </td>
      <td><%= link_to @audit.lesson_plan.lp, @audit.lesson_plan %></td>
    </tr>
  </tbody>
</table>

<h2>Send email to these emails from feedback@trilogyed.com</h2>

<%= @audit.instructor.email %><%= @s.ss_email %>, <%= @r.rd_email %>

<h2>Email:</h2>
<p>Hi <%= @audit.instructor.instructor %>, <%= @s.ss %>, <%= @r.rd %></p>

<p><%= @audit.instructor.instructor %>, we analyzed your class recording and noted down your metrics and compared them to our target metrics.</p>

<p>Additionally, we provided notes on why we gave you those particular scores, and provided you information that could help you improve.</p>

<br><br><br>

<table>
  <%= render '/audits/audits_main_header', audit: @audit, report: true, partOne: true, partTwo: false %>

  <tbody>
    <%= render '/audits/audits_main_row', audit: @audit, report: true, partOne: true, partTwo: false %>
    <tr>
      <td class="target"> Target Metrics: </td>
      <td class="optimal"> <%= @big_flag %> </td>
      <td class="optimal"> <%= @objs %> </td>
      <td class="optimal"> <%= @action_flag %> </td>
      <td class="optimal"> >= <%= @vocal_enc_num %> </td>
      <td class="optimal"> >= <%= @discuss_num %> </td>
      <td class="optimal"> >= <%= @mov_aw_noi_num %> </td>
      <td class="optimal"> >= <%= @mean_quest_num %> </td>
      <td class="optimal"> >= <%= @directed_quest_num %> </td>
    </tr>
  </tbody>
</table>
<br><br>
<table>
  <%= render '/audits/audits_main_header', audit: @audit, report: true, partOne: false, partTwo: true %>

  <tbody>
    <%= render '/audits/audits_main_row', audit: @audit, report: true, partOne: false, partTwo: true %>
    <tr>
      <td class="target"> Target Metrics: </td>
      <td class="optimal"> == <%= @tangent_num %> </td>
      <td class="optimal"> <%= @fifteen_noeng %> </td>
      <td class="optimal"> >= <%= @anti_jargon_num %> </td>
      <td class="optimal"> <%= @nervous %> </td>
      <td class="optimal"> >= <%= @engage_num %> </td>
      <td class="optimal"> >= <%= @percent_lp %> </td>
      <td class="optimal"> <%= @percent_hp_lp %> </td>
      <td class="optimal"> >= <%= @overall_num %> </td>
    </tr>
  </tbody>
</table>

<br><br><br>

<table>
  <%= render '/audits/audits_secondary_header', audit: @audit, report: true %>

  <tbody>
    <%= render '/audits/audits_secondary_row', audit: @audit, report: true %>
    <tr>
      <td class="target">
        Target Metrics:
      </td>
      <td class="optimal"><%= @audio_qual_num %> </td>
      <td class="optimal"><%= @code_is_no_big %> </td>
    </tr>
  </tbody>
</table>

<% if @audit.fame %>
  <h2>Congratulations on making the hall of fame!</h2>

  <p class="fame">
    These are the notes we wrote up about what you did that will make you famous among our instructional community:
  </p>

  <%= @audit.fame_notes %>
<% end %>

<% unless eqh("big_flag", @audit.big_flag, true) %>
  a
  <hr>
<% end %>

<% unless eqh("objs", @audit.objs, true) %>
  b
  <hr>
<% end %>

<% unless eqh("action_flag", @audit.action_flag, true) %>
  v
  <hr>
<% end %>

<% unless alh("vocal_enc_num", @audit.vocal_enc_num, true) %>
  d
  <hr>
<% end %>

<% unless alh("discuss_num", @audit.discuss_num, true) %>
  e
  <hr>
<% end %>

<% unless alh("mov_aw_noi_num", @audit.mov_aw_noi_num, true) %>
  df
  <hr>
<% end %>

<% unless alh("mean_quest_num", @audit.mean_quest_num, true) %>
  df
  <hr>
<% end %>

<% unless alh("directed_quest_num", @audit.directed_quest_num, true) %>
  dfff
  <hr>
<% end %>

<% unless eqh("tangent_num", @audit.tangent_num, true) %>
  adsf

  <p>
    <strong>Tangent notes:</strong>
    <%= @audit.tangent_notes %>
  </p>

  <hr>
<% end %>

<% unless eqh("fifteen_noeng", @audit.fifteen_noeng, true) %>
  grewg

  <hr>

<% end %>

<% unless alh("anti_jargon_num", @audit.anti_jargon_num, true) %>
  <p>Your <strong>clarity score</strong> of <%= @audit.anti_jargon_num %> was below our target of <%= @anti_jargon_num %>.</p>

  <p>There are two keys to clarity

  <ol>
    <li>TRY YOUR VERY BEST to not use terminology that the students have not heard before. And if you absolutely have to then make sure you say the plain english definition of the terminology before mentioning the word.</li>
    <li>Repeat concepts. This shouldm't be you repeating something 15 times. Instead it could be you saying something, then later asking someone a question about it. Then repeating yourself again later on, and then finally asking someone different about it.</li>
  </ol>
<% end %>

<p>
  <strong>About your Clarity:</strong>
  <%= @audit.anti_jargon_notes %>
</p>

<hr>

<% unless eqh("nervous", @audit.nervous, true) %>
  adsfewf
  <hr>
<% end %>

<% unless alh("engage_num", @audit.engage_num, true) %>
  avsraw
  <hr>
<% end %>

<p>
  <strong>Engage notes:</strong>
  <%= @audit.engage_notes %>
</p>

<hr>

<% unless lph(@audit.percent_lp, true) %>
  avsraw<%= @audit.percent_lp %>
  <hr>
<% end %>

<% unless eqh("percent_hp_lp", @audit.percent_hp_lp, true) %>
  avsraw<%= @audit.percent_hp_lp %>
  <hr>
<% end %>

<% unless alh("overall_num", @audit.overall_num, true) %>
  avsraw<%= @audit.overall_num %>
  <hr>
<% end %>

<p>
  <strong>Overall factors:</strong>
  <%= @audit.overall_factors %>
</p>

<hr>

<p>
  <strong>Notes:</strong>
  <%= @audit.notes %>
</p>

<hr>
