<h1 class="center">Your Patients' Latest INRs</h1>

<p class="center">
	Click on the patient to see all of their reports.
</p>

<table class="table">
	<thead>
		<tr>
			<th>Patient</th>
			<th>INR Reported</th>
			<th>Date</th>
			<th>Note</th>
			<th>Full Report</th>
		</tr>
	</thead>
	<tbody>
		<% @patients.each do |patient| %>
			<% last_inr = patient.user.inrs.last %>
			
			<tr>
				<td><%= link_to "#{patient.first_name} #{patient.middle_initial} #{patient.last_name}", patient %></td>
				<td><%= last_inr.value %></td>
				<td><%= last_inr.wdate %></td>
				<td><%= last_inr.note %></td>
				<td><%= link_to "Full Report", patient %></td>
			</tr>	
		<% end %>
	</tbody>

</table>

<hr>
<br>