<h1 class="center">Listing patients</h1>

<div class="container">
  <%= link_to 'Add New Patient', new_patient_path %>

  <%= render 'layouts/pass' %>
</div>

  <table class="table">
    <thead>
      <tr>
        <th>ID + Name</th>
        <th>Timezone</th>
        <th>Email</th>
        <th>Qualified</th>
        <th>Communication preferred</th>
        <th>Insurance verification</th>
        <th>Prescription acquired</th>
        <th>Phone number</th>
        <th>Address</th>
        <th>State</th>
        <th>Zipcode</th>
        <th>Doctors</th>
        <th>Rep(s)</th>
        <th>Notes (last 3)</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @patients.each do |patient| %>
        <tr>
          <td><%= link_to "#{patient.id} #{patient.first_name} #{patient.middle_initial} #{patient.last_name}", patient %></td>
          <td><%= patient.user.time_zone %></td>
          <td><%= patient.email %></td>
          <td><%= patient.qualified %></td>
          <td><%= patient.communication_preferred %></td>
          <td><%= patient.insurance_verification %></td>
          <td><%= patient.prescription_acquired %></td>
          <td><%= patient.phone_number %></td>
          <td><%= patient.address %></td>
          <td><%= patient.state %></td>
          <td><%= patient.zipcode %></td>
          <td>
            <% if patient.manegizations.empty? %>
              No doctor assigned to this patient
            <% else %>
              <ul>
                <% patient.manegizations.map do |maneg| %>
                  <li><%= link_to "(#{maneg.doctor.id}) #{maneg.doctor.full_name}", maneg.doctor %></li>
                <% end %>
              </ul>
            <% end %>
          </td>
          <td>
            <ul>
              <% patient.reps.map do |r| %>
                <li><%= link_to r.full_name, r %></li>
              <% end %>
            </ul>
          </td>
          <td>
            <% patient.notes.order(id: :desc).limit(3).each do |n| %>
              <%= link_to n.wdate, n %> made by <%= who_made_note_give_link n.noteable %> <br><br>
            <% end %>

            <% if patient.notes.empty? %>
              No Notes Entered
            <% end %>
          </td>
          <td><%= link_to 'Edit', edit_patient_path(patient) %> <%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>



