<%= form_for(@inr) do |f| %>
  <% if @inr.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inr.errors.count, "error") %> prohibited this inr from being saved:</h2>

      <ul>
      <% @inr.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :references %><br>
    <%= f.text_field :references %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :note %><br>
    <%= f.text_area :note %>
  </div>
  <div class="field">
    <%= f.label :wdate %><br>
    <%= f.date_select :wdate %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
