<h1>Listing inrs</h1>

<%= link_to 'Report an INR', new_inr_path %>

<br><br>

<table class="table">
  <thead>
    <tr>
      <th>INR</th>
      <th>Date of INR</th>
      <th>Note</th>
    </tr>
  </thead>

  <tbody>
    <% @inrs.each do |inr| %>
      <tr>
        <td><%= link_to inr.value, inr %> (<%= link_to 'Edit', edit_inr_path(inr) %>)</td>
        <td><%= inr.note %></td>
        <td><%= inr.wdate %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

