<%= form_for(@doctor) do |f| %>
  <% if @doctor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doctor.errors.count, "error") %> prohibited this doctor from being saved:</h2>

      <ul>
      <% @doctor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <hr>

  <% if !@doctor.new_record? %>
    <br>
    <br>
    <p><strong>Patients this Doctor is Managing or has Managed:</strong></p>
    
    <table>
      <thead>
        <th>Patient</th>
        <th>Currently Managing</th>
      </thead>
      <tbody>
        <% @doctor.manegizations.each do |maneg| %>
          <% patient = maneg.patient %>
          <tr>
            <td>
              <label for="doctor_patient_ids_<%= patient.id %>"><%= "(#{patient.id}) #{patient.first_name} #{patient.last_name}" %></label> - <%= link_to "go to patient's page", patient %>
            </td> 
            
            <td>
            <input <%= maneg.active ? "checked" : "" %> id="doctor_patient_ids_<%= patient.id %>" name="doctor[patient_ids][]" type="checkbox" value="<%= patient.id %>">
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
    <br>
    <hr>

    <div class="form-group">
      <strong><%= f.label :patient_ids, "Assign new patients to this doctor:", class: 'control-label' %></strong>

      <p>Note: You can't assign patients that have been already once assigned to this doctor. Please moderate above.</p>

      <p>Note: You can't assign patients that are already assigned to another doctor, unless you go to that doctor's page and mark those patients inactive.</p>

      <% new_patients = @doctor.edit_patient_options %>

      <% if new_patients.empty? %>
        <p>No patients available to assign to this doctor</p>
      <% else %>
        <br>
        <!-- removed this from :selected => @doctor.patients.pluck(:id) -->
        <%= f.select :patient_ids, new_patients.collect{|t| [ "#{t.id}: #{t.first_name} #{t.middle_initial} #{t.last_name} - #{t.email}", t.id ]}, { :selected => [] }, { :multiple => true, :class => 'select2' } %>
      <% end %>
    </div>
  <% else %>

    <div class="form-group">
      <strong><%= f.label :patient_ids, "Assign new patients to this doctor:", class: 'control-label' %></strong>

      <p>Note: You can't assign patients that are already assigned to another doctor, unless you go to that doctor's page and mark those patients inactive.</p>

      <br>
      <!-- removed this from :selected => @doctor.patients.pluck(:id) -->
      <%= f.select :patient_ids, @patients.collect{|t| [ "#{t.id}: #{t.first_name} #{t.middle_initial} #{t.last_name} - #{t.email}", t.id ]}, { :selected => [] }, { :multiple => true, :class => 'select2' } %>
    </div>
  <% end %>
  
  <hr>

  <div class="field">
    <%= f.label :full_name %><br>
    <%= f.text_field :full_name %>
  </div>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %>
  </div>

  <div class="field">
    <%= f.label :fax_number %><br>
    <%= f.text_field :fax_number %>
  </div>

  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </div>

  <div class="field">
    <%= f.label :state %><br>
    <%= f.select :state, options_for_select(us_states.map{|k,v| ["#{v} (#{k})", k]}, @doctor.state), {:include_blank => 'choose a state'}, {:class => "select2"} %>
  </div>

  <div class="field">
    <%= f.label :zipcode %><br>
    <%= f.text_field :zipcode %>
  </div>

  <div class="field">
    <%= f.label :hours %><br>
    <%= f.text_area :hours %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
