  nbv <%= form_for(@doctor) do |f| %>
  <% if @doctor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doctor.errors.count, "error") %> prohibited this doctor from being saved:</h2>

      <ul>
      <% @doctor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <hr>

  <div class="form-group">
    <strong><%= f.label :patient_ids, "Assign Patients to this Doctor:", class: 'control-label' %></strong>

    <br><br>

    <!-- removed this from :selected => @doctor.patients.pluck(:id) -->

    <% if @patients.empty? %>
      <p>There are no patients in the system.</p>
    <% else %>
      <%= f.select :patient_ids, @patients.collect{|t| [ "#{t.id}: #{t.first_name} #{t.middle_initial} #{t.last_name} - #{t.email}", t.id ]}, { :selected => @doctor.manegizations.pluck(:patient_id) }, { :multiple => true, :class => 'select2' } %>
    <% end %>
  </div>
  
  <hr>

  <div class="field">
    <%= f.label :full_name %><br>
    <%= f.text_field :full_name %>
  </div>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :time_zone %></span><br>
    <%= time_zone_select("user", "time_zone", ActiveSupport::TimeZone.us_zones, { include_blank: true, default: @timezone}, {:class => 'select2 time_zone_select'}) %>
  </div>

  <div class="field">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %>
  </div>

  <div class="field">
    <%= f.label :fax_number %><br>
    <%= f.text_field :fax_number %>
  </div>

  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </div>

  <div class="field">
    <%= f.label :state %><br>
    <%= f.select :state, options_for_select(us_states.map{|k,v| ["#{v} (#{k})", k]}, @doctor.state), {:include_blank => 'choose a state'}, {:class => "select2"} %>
  </div>

  <div class="field">
    <%= f.label :zipcode %><br>
    <%= f.text_field :zipcode %>
  </div>

  <div class="field">
    <%= f.label :hours %><br>
    <%= f.text_area :hours %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
