<%= form_for(@rd) do |f| %>
  <% if @rd.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rd.errors.count, "error") %> prohibited this rd from being saved:</h2>

      <ul>
      <% @rd.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rd %><br>
    <%= f.text_field :rd %>
  </div>
  <div class="field">
    <%= f.label :rd_email %><br>
    <%= f.text_field :rd_email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
