<p id="notice"><%= notice %></p>

<p>
  <strong>Rd:</strong>
  <%= @rd.rd %>
</p>

<p>
  <strong>Rd email:</strong>
  <%= @rd.rd_email %>
</p>

<%= link_to 'Edit', edit_rd_path(@rd) %> |
<%= link_to 'Back', rds_path %>
