<%= form_for(@university) do |f| %>
  <% if @university.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@university.errors.count, "error") %> prohibited this university from being saved:</h2>

      <ul>
      <% @university.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :university %><br>
    <%= f.text_field :university %>
  </div>

  <div class="field">
    <%= f.label :rd_id %><br>
    <%= f.select :rd_id, @rds.collect{|rd| [ "#{rd.rd}", rd.id ]}, {}, { required: 'true', autofocus: 'true', class: 'select2' } %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
