<ul id="nav">
  <li><%= link_to 'New University', new_university_path %></li>
  <li><%= link_to 'New Rd', new_rd_path %></li>
  <li><%= link_to 'New Student success manager', new_student_success_manager_path %></li>
</ul>

<h1>Control Panel</h1>

<table class="table">
  <thead>
    <tr>
      <th>University</th>
      <th>Regional Director</th>
      <th>Student Success Manager</th>
      <th>Active Instructors</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @universities.each do |university| %>
      <tr>
        <td><%= link_to university.university, university %> (<%= link_to 'Edit', edit_university_path(university) %>)</td>
        <td><%= link_to university.rd.rd, university.rd %> | <%= university.rd.rd_email %> | (<%= link_to 'Edit', edit_rd_path(university.rd) %>)</td>
        <td><%= link_to university.student_success_manager.ss, university.student_success_manager %> | <%= university.student_success_manager.ss_email %> | (<%= link_to 'Edit', edit_student_success_manager_path(university.student_success_manager) %>)</td>
        <td>
          <% university.instructors.each do |i| %>
            <% if i.active %>
              <%= i.instructor %>,&nbsp;
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
