<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% if user_signed_in? %>
        <% if current_user.role == "patient" %>
          <%= link_to "Self INR", inrs_path, :class => "navbar-brand" %>
        <% elsif current_user.role == "doctor" %>
          <%= link_to "Self INR", doctor_dashboard_path, :class => "navbar-brand" %>
        <% elsif current_user.role == "field_rep" %>
          <%= link_to "Self INR", patients_path, :class => "navbar-brand" %>
          <!-- when I make the field reps dashboard this needs to change to that -->
        <% elsif current_user.role == "staff" %>
          <%= link_to "Self INR", patients_path, :class => "navbar-brand" %>
        <% else %>
          <%= link_to "Self INR", patients_path, :class => "navbar-brand" %>
        <% end %>
      <% else %>
        <%= link_to "Self INR", root_path, :class => "navbar-brand" %>
      <% end %>
    </div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <% if current_user.role == "patient" %>
            
            <li><%= link_to "Your Dashboard", inrs_path, :class => "nav-link" %></li>

            <li><%= link_to "Report Your INR", inrs_path, :class => "nav-link" %></li>
            
            <li><%= link_to 'Request INR Test Strips', new_test_strip_request_path, :class => "nav-link" %></li>

          <% elsif current_user.role == "doctor" %>   
            <li><%= link_to "Doctor Dashboard", doctor_dashboard_path, :class => "nav-link" %></li>
          <% else %>  
            <li><%= link_to "Patients", patients_path, :class => "nav-link" %></li>
            <li><%= link_to "Patient Notes", notes_path, :class => "nav-link" %></li>

            <li><%= link_to "Patient Test Strip Requests", test_strip_requests_path, :class => "nav-link" %></li>


            <li><%= link_to "Doctors", doctors_path, :class => "nav-link" %></li>
            <li><%= link_to "Staff", staffs_path, :class => "nav-link" %></li>
            <li><%= link_to "Field Reps", reps_path, :class => "nav-link" %></li>
            <li><%= link_to "Users", users_path, :class => "nav-link" %></li>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Sign Out", destroy_user_session_path, :method=>'delete', :class => "nav-link" %></li>
          <% else %>
            <li><%= link_to "Sign In", new_user_session_path, :class => "nav-link" %></li>
            <li><%= link_to "Get Started", new_user_registration_path, :class => "nav-link" %></li>
          <% end %>
        </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>