<!DOCTYPE html>
<html>
<head>
  <title>Video Analytics Dashboard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" media="screen" title="no title" charset="utf-8">
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<ul id="nav">
  <li><%= link_to "Audits", audits_path %></li>
  <li><%= link_to "Lesson Plans", lesson_plans_path %></li>
  <li><%= link_to "Tiers", tiers_path %></li>
  <li><%= link_to "Tier Updates", tier_updates_path %></li>
  <li><%= link_to "Instructors", instructors_path %></li>
  <li><%= link_to "Student Success Managers", student_success_managers_path %></li>
  <li><%= link_to "Regional Directors", rds_path %></li>
  <li><%= link_to "Analysts", analysts_path %></li>
  <li><%= link_to "Universities", universities_path %></li>
  <li><%= link_to "Users", users_path %></li>
  <% if user_signed_in? %>
    <li><%= link_to "Sign Out", destroy_user_session_path, :method=>'delete' %></li>
  <% else %>
    <li><%= link_to "Sign In", new_user_session_path %></li>
    <li><%= link_to "Get Started", new_user_registration_path %></li>
  <% end %>
</ul>

<%= yield %>

</body>
</html>
