<!DOCTYPE html>
<html>
<head>
  <title>Self INR</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
  <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
  
  <link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" media="screen" title="no title" charset="utf-8">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

  <%= csrf_meta_tags %>
</head>
<body id="<%= params[:controller].parameterize %>_controller" class="<%= @bodyClass %> <% if user_signed_in? %>user_signed_in<%end%>">

<ul id="nav">
  <li id="logo">
    <% if user_signed_in? %>
      <% if current_user.role == "patient" %>
        <%= link_to "Self INR", inrs_path %>
      <% elsif current_user.role == "doctor" %>
        <%= link_to "Self INR", doctor_dashboard_path %>
      <% elsif current_user.role == "field_rep" %>
        <%= link_to "Self INR", patients_path %>
        <!-- when I make the field reps dashboard this needs to change to that -->
      <% elsif current_user.role == "staff" %>
        <%= link_to "Self INR", patients_path %>
      <% else %>
        <%= link_to "Self INR", patients_path %>
      <% end %>
    <% else %>
      <%= link_to "Self INR", root_path %>
    <% end %>
  </li>
  <% if user_signed_in? %>
    <% if current_user.role == "patient" %>
      <li><%= link_to "Report Your INR", new_inr_path %></li>
    <% elsif current_user.role == "doctor" %>   
      <li><%= link_to "Doctor Dashboard", doctor_dashboard_path %></li>
    <% else %>  
      <li><%= link_to "Patients", patients_path %></li>
      <li><%= link_to "Patient Notes", notes_path %></li>
      <li><%= link_to "Patient Test Strip Requests", test_strip_requests_path %></li>
      <li><%= link_to "Doctors", doctors_path %></li>
      <li><%= link_to "Staff", staffs_path %></li>
      <li><%= link_to "Field Reps", reps_path %></li>
      <li><%= link_to "Users", users_path %></li>
    <% end %>

    <li><%= link_to "Sign Out", destroy_user_session_path, :method=>'delete' %></li>
  <% else %>
    <li><%= link_to "Sign In", new_user_session_path %></li>
    <li><%= link_to "Get Started", new_user_registration_path %></li>
  <% end %>
</ul>

<%= content_tag(:p, notice, class: 'notice-show') if notice %>
<%= content_tag(:p, alert,  class: 'alert-show' ) if alert  %>

<%= yield %>

</body>
</html>
