<!DOCTYPE html>
<html>
<head>
  <title>Self INR</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
  <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
  <link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" media="screen" title="no title" charset="utf-8">
  <%= csrf_meta_tags %>
</head>
<body>
<ul id="nav">
  <li id="logo">Self INR</li>
  <% if user_signed_in? %>
    <% if current_user.role == "patient" %>
      <li><%= link_to "Report Your INR", inrs_path %></li>
    <% elsif current_user.role == "doctor" %>   
      sdkfjklsdflkds
    <% else %>  
      <li><%= link_to "Patients", patients_path %></li>
      <li><%= link_to "Doctors", doctors_path %></li>
      <li><%= link_to "Staff", staffs_path %></li>
      <li><%= link_to "Field Reps", reps_path %></li>
      <li><%= link_to "Users", users_path %></li>
    <% end %>

    <li><%= link_to "Sign Out", destroy_user_session_path, :method=>'delete' %></li>
  <% else %>
    <li><%= link_to "Sign In", new_user_session_path %></li>
    <li><%= link_to "Get Started", new_user_registration_path %></li>
  <% end %>
</ul>

<%= content_tag(:p, notice, class: 'notice-show') if notice %>
<%= content_tag(:p, alert,  class: 'alert-show' ) if alert  %>

<%= yield %>

</body>
</html>
